 @font-face {
    font-family: 'Robot Teacher';
    font-style: normal;
    font-weight: normal;
   
    }

    h1{
    	font-family: "Lucida Handwriting",Brush Script MT,cursive;
    	font-weight: 200;
    	color: #0cca4c;
    }